openapi: '3.0.2'
info:
  title: 孔雀巢投票
  description: |
    # 简述
    给孔雀巢商家后台使用，线上服务器地址 <http://vote.kongquechao.com>    


    访问 <https://vote.kongquechao.com/test/index.html> 获取登陆token  


    # 验证授权
    这些API使用以下的授权验证方式
      - API Key  An API key is a token that a client provides when making API calls.
      
    <SecurityDefinitions />

  termsOfService: https://smartbear.com/terms-of-use/
  contact:
    name: Adam Smith
    url: https://github.com/metanoia1989
    email: m15171641694@163.com
  x-logo:
    url: './assets/images/logo-brand.png'
    altText: 孔雀巢投票
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0

servers:
  - url: https://vote.kongquechao.com
    description: 线上服务器
  - url: http://cqc-vote.test
    description: 本地服务器

security:
  - BearerAuth: []
    
tags:
  - name: Auth
    description: 安全验证
  - name: Wechat
    description: 微信相关
  - name: Event
    description: 活动相关
  - name: Vote
    description: 投票相关
    
paths:
  /api/wechat/login:
    get:
      tags:
        - Wechat
      summary: 微信静默登陆 
      security: []
      parameters:
        - in: query
          name: code
          schema:
            type: string
          required: true
          description: 微信授权登陆code
      responses:
        '200':
          description: 静默登陆成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginSuccess'

  /api/wechat/share:
    post:
      tags:
        - Wechat
      summary: 获取微信分享参数
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: 分享的URL
              required:
                - url
      responses:
        '200':
          description: 微信分享参数
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareParam'

  /api/event/{event_id}:
    get:
      tags:
        - Event
      summary: 获取活动详情
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
          description: 活动ID
      responses:
        '200':
          description: 活动详情数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'

  /api/competitors:
    get:
      tags:
        - Event
      summary: 活动作品或选手列表
      parameters:
        - in: query
          name: event_id
          schema:
            type: integer
            description: 活动ID
          required: true
              
        - in: query
          name: page
          schema:
            type: integer
            description: 第几页
        - in: query
          name: limit
          schema:
            type: integer
            description: 每页的个数
        - in: query
          name: title
          schema:
            type: string
            description: 作品或选手名称 
        - in: query
          name: subtitle
          schema:
            type: string
            description: 副标题
        - in: query
          name: source_submit_id
          schema:
            type: integer
            description: 编号搜索
        
          

      responses:
        '200':
          description: 活动作品或选手列表数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayersResponse'

  /api/vote/up:
    post:
      tags:
        - Vote
      summary: 进行投票操作 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                event_id:
                  type: integer
                  description: 活动ID
                voting_object_id:
                  type: integer
                  description: 作品或选手ID
                ticket:
                  type: string
                  description: 投票票据
              required:
                - event_id
                  voting_object_id 
                  ticket
      responses:
        '200':
          description: 投票成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'

  /api/vote/ticket:
    get:
      tags:
        - Vote
      summary: 获取投票票据
      description: 投票凭据有效期为10分钟，每次投票必须携带此凭据，请解密后进行md5
      parameters:
        - in: query
          name: voting_object_id
          schema:
            type: integer
          required: true
          description: 作品或选手ID
      responses:
        '200':
          description: 成功获取票据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
    
  /api/vote/decrypt:
    post:
      tags:
        - Vote
      summary: 投票凭据解密测试
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                ct:
                  type: string
                  description: 投票票据
                iv:
                  type: string
                  description: 初始化向量
                s:
                  type: string
                  description: xxxxx
              required:
                - ticket
                  iv
      responses:
        '200':
          description: 投票成功响应
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        type: string
                        description: 票据加密前的字符串
              example:
                msg: success
                code: 0
                data: Z3Zknyot



components:
  securitySchemes:
    BearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer

  schemas:
    Response:
      description: 接口响应公共字段
      type: object
      properties:
        code:
          type: integer 
        msg:
          type: string
        data: {}
      required:
        - code
        - msg

    ObjectResponse:
      description: 任意对象数据的响应
      allOf:
        - $ref: '#/components/schemas/Response'
        - type: object
          required:
            - data
          properties:
            data:
              type: object
      

    LoginSuccess:
      description: 登陆成功的响应
      allOf:
        - $ref: '#/components/schemas/Response'
        - type: object
          required:
            - data
          properties:
            data:
              type: object 
              properties:
                token:
                  type: string
                open_id:
                  type: string

          example:
            code: 0
            msg: success
            data:
              token: VbmtO4RZKOPSyHl6L5i0d5kyqH6Q8MyK
              open_id: oniX0wJlqJyWHAx9B61im7Ow9WDA


    ShareParam:
      description: 微信分享参数
      allOf:
        - $ref: '#/components/schemas/Response'
        - type: object
          required:
            - data
          properties:
            data:
              type: object 
              properties:
                appId:
                  type: string
                nonceStr:
                  type: string
                timestamp:
                  type: integer
                url:
                  type: string
                signature:
                  type: string

          example:
            msg: success
            code: 0
            data:
              appId: APPID参数
              nonceStr: qweqwerqqer
              timestamp: 13423423
              url: http://sdfsdfsdf
              signature: 36234hsfgsdfsdf
    Event:
      description: 活动详情数据
      allOf:
        - $ref: '#/components/schemas/Response'
        - type: object
          required:
            - data
          properties:
            data:
              type: object 
              properties:
                id:
                  type: integer
                add_time:
                  type: string
                start_time:
                  type: integer
                  description: 开始时间为0时，只要不超过结束时间，活动都在进行中
                end_time:
                  type: integer
                  description: 活动结束时间，为0表示永不结束
                is_del:
                  type: integer
                status:
                  type: integer
                  description: 0：正常 -1：暂停
                single_max_per_day:
                  type: integer
                  description: 每人每天最多可投票数
                need_login:
                  type: integer
                  description: 是否需要授权登陆 0：不需要，在微信端只要静默登陆 1：需要，在微信端要授权
                type:
                  type: string
                  description: 投票类型
                title:
                  type: string
                cover_url:
                  type: string
                subtitle:
                  type: string
                banners:
                  type: array
                  description: banner图
                  items:
                    type: string
                remaining_time:
                  description: 活动投票剩余时间
                  type: integer

          example:
            msg: success
            code: 0
            data:
              id: 1
              add_time: '2021-05-13 11:04:52'
              start_time: 0
              end_time: 0
              is_del: 0
              status: 0
              single_max_per_day: 5
              need_login: 0
              type: 未知类型投票
              title: 2021摄影大赛投票
              cover_url: http://vote.kongquechao.com/cam01.jpg
              banners:
                - http://cqc-vote.test/static/banner_cosmetics.jpg
                - http://cqc-vote.test/static/banner_photo_2_1.jpg
                - http://cqc-vote.test/static/banner_cosmetics.jpg
                - http://cqc-vote.test/static/banner_photo_2_1.jpg
              subtitle: 2021省协摄影大赛投票
              remaining_time: 4090510

    Player:
      description: 选手详情数据
      type: object
      properties:
        id: 
          type: integer
          description: 选手ID
        type: 
          type: string
          description: 类型 1： 作品 2：人或其它 
        cover_url:
          type: string
        subtitle:
          type: string
        event_id: 
          type: integer
          description: 活动ID
        source_submit_id: 
          type: integer
          description: 选手编号
        cover_width: 
          type: integer
          description: 封面宽度
        cover_height: 
          type: integer
          description: 封面高度
        organization:
          type: string
          description: 机构名称
        vote_num: 
          type: integer
          description: 票数
          
      example:
        id: 396
        type: 1
        title: 周录军
        cover_url: http://cqc-vote.test/static/img/event_11/cover/2222.jpg
        subtitle: 儿童摄影类
        event_id: 1
        source_submit_id: 217
        phone: '18698712576'
        cover_width: 500
        cover_height: 333
        organization: 柒城影像婚纱摄影
        vote_num: 1596

    PlayersResponse:
      description: 选手列表
      allOf:
        - $ref: '#/components/schemas/Response'
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Player'

    Ticket:
      description: 投票凭据有效期为10分钟
      allOf:
        - $ref: '#/components/schemas/Response'
        - type: object
          required:
            - data
          properties:
            data:
              type: object 
              properties:
                ct:
                  type: string
                  description: 投票凭据，请利用iv和tag进行aes-128-gcm解密，然后MD5加密
                iv:
                  type: string
                  description: 初始化向量
                s:
                  type: string

          example:
            msg: success
            code: 0
            data:
              ct: jJV6brhHTM5ibjEuU9YbmQ==
              iv: e87576d1fe93cbb18dc0c82376da6beb
              s: "699ea60896253642"
      
